html
{
  background-color:#969696;
  text-align:center;
}

#outer
{
  -webkit-box-shadow:1px 1px 16px 4px rgba(50, 50, 50, 1);
  -moz-box-shadow:1px 1px 16px 4px rgba(50, 50, 50, 1);
  box-shadow:1px 1px 16px 4px rgba(50, 50, 50, 1);
  background-color:#FFFFFF;
  height:100%;
  width:800px;
  margin-left:2%;
  margin-right:2%;
  text-align:left;
}

#title
{
  text-size:2.2em;
  text-align:left;
  margin-left:1%;
  margin-right:2%;
}
