html
{
  background-color:#969696;
  text-align:center;
}

#outer
{
  box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
  background-color:#FFFFFF;
  height:100%;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
